<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error - <%= error.status %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
      integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Product+Sans"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script type="text/javascript" src="/scripts/vendor/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="/scripts/vendor/bootstrap.min.js"
    ></script>
    <script type="text/javascript" src="/scripts/vendor/dom.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/moment.css" />
  </head>
  <body>
    <%- include('components/navbar') -%>
    <div class="container" id="mainPage" style="margin-top: 10%;">
      <h1>Error!</h1>
      <h2><%= (error.message || message) %></h2>
      <%= error.status %>
      <br />
      <br />
      <p class="container-fluid">
        <code> <!-- <%= error.stack %> --> </code>
      </p>
    </div>
    <div id="notify_message" class="notify_message-success">
      <center>You are now a part of Apply-by-AI!</center>
    </div>
  </body>
  <script type="text/javascript">
    show_notification("Page not found!", "danger")
  </script>
</html>
