<!DOCTYPE html>
<html>
    <%- include('../components/head') -%>
    <link rel="stylesheet" type="text/css" href="/stylesheets/moment.css">
    <body>
        <%- include('../components/navbar') -%>
        <div style="margin-top: 75px">
            <%- include('../components/sidebar') -%>
            <div class="col-xs-12 col-sm-9 col-lg-10" style="margin:auto" id="main">
                <div class="row profile">
                    <div class="col-md-4">
                        <div class="profile-sidebar">
                            <div class="profile-userpic">
                                <center>
                                    <img src="<%= user.resume.basics.picture %>" class="img-responsive" alt="">
                                </center>
                            </div>
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name">
                                    <%= user.resume.basics.name %> 
                                    <br>
                                    <small style="color: orange;">@<%= user.username %></small>
                                    <br>
                                </div>
                                <div class="profile-usertitle-job">
                                    <%= user.resume.basics.label %>
                                </div>
                                <div class="profile-user-desc">
                                    <i><%= user.resume.basics.summary %></i>
                                </div>
                            </div>
                            <div class="profile-userbuttons">
                                <div class="row">
                                    <% if(user.usertype != currentUser.usertype || user.username != currentUser.username) { %>
                                        <div class="col-md-6">
                                            <button type="button" id="follow-btn" data-follow="<%= user %>" style="margin-top:5px" class="btn btn-primary btn-sm">
                                                <% if(user.followers.find(x => x.usertype == currentUser.usertype && x._id == currentUser._id)) { %>
                                                    Unfollow
                                                <% } else { %>
                                                    Follow
                                                <% } %>
                                            </button>
                                        </div>
                                        <div class="col-md-6">
                                            <a type="button" href="/chat/<%= user._id %>" style="margin-top:5px" class="btn btn-primary btn-sm">
                                                Message
                                            </a>
                                        </div>
                                    <% } %>
                                    <div class="col-md-6">
                                        <a type="button" style="margin-top:5px" href="mailto:<%= user.resume.basics.email %>" class="btn btn-primary btn-sm">
                                            Email
                                        </a>
                                    </div>
                                </div>
                                <div class="profile-usermenu">
                                    <ul class="nav">
                                        <li name="posts" class="tab active">
                                            <a href="#" style="background-color: transparent;">
                                                <i class="fa fa-newspaper"></i>
                                                    Posts
                                                </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div id="posts" class="profile-content tabs">
                            <h2>Posts</h2>
                            <br>
                            <div class="row">
                                <% for(let post of user.posts) { %>
                                    <div class="col-md-6">
                                        <div class="gram-card">
                                            <div class="gram-card-header">
                                                <h6>
                                                    <a class="gram-card-content-user" href="">${post.timeago}</a>
                                                </h6>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <% if(post.staticUrl) { %>
                                            <% if(['jpeg', 'png', 'gif', 'jpg'].includes(post.staticUrl)) { %>
                                                <div class="gram-card-image">
                                                    <center>
                                                        <img src="${post.staticUrl}" width="100%">
                                                    </center>
                                                </div>
                                            <% } else { %>
                                                <video src="${p.staticUrl}" id="${post._id}" class="post img-responsive" controls></video>
                                            <% } %>
                                        <% } %>
                                        <div class="gram-card-content">
                                            <p>${post.caption}</p>
                                            <span class="label label-info">${post.category}</span><br><br>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="notify_message" class="notify_message-success">
            <center>Follow @<%= user.username %>!</center>
        </div>
        <%- include('../components/tabs') -%>
        <%- include('../components/footer') -%>
    </body>
    <script>
        var tabs = $(".tab");
        tabs.on("click", function(e) {
          let tab = this;
          e.preventDefault();
          tabs.removeClass("active");
          $(tab).addClass("active");
          $(".tabs").fadeOut(500,function() {
            $("#" + $(tab).attr("name")).delay(500).fadeIn();
          });
          return false;
        });
    </script>
</html>
